<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja pracownika</title>

    <meta name="description" content="">

    <!-- Tailwind -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body class="bg-white font-family-karla h-screen">

    <div class="w-full flex justify-center flex-wrap">

        <!-- Register Section -->
        <div class="w-full md:w-2/3 flex flex-col">

            <div th:include="fragments/top::click-logo"></div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Register employee</p>
                <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4">


                        <label for="firstName" class="text-lg">Name</label>
                        <input type="text" id="firstName" placeholder="Imię" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                               th:field="*{firstName}">
                    </div>


                     <div class="flex flex-col pt-4">
                        <label for="lastName" class="text-lg">Surname</label>
                        <input type="text" id="lastName" placeholder="Nazwisko" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                               th:field="*{lastName}">
                    </div>


                    <div class="flex flex-col pt-4">

                        <label for="employee" class="text-lg">Rank</label>
                        <select name="employee" id="employee" placeholder="Select..."  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                th:field="*{position}" >>
                            <option value=""></option>
                            <!--for each-->
                        </select>


                    </div>

                    <div class="flex flex-col pt-4">

                        <label for="department" class="text-lg">Department</label>
                        <select name="department" id="department" placeholder="Select..."  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                                th:field="*{branch}" >>
                            <option value=""></option>
                    <!--for each-->
                        </select>

                    </div>


                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">E-mail</label>
                        <input type="email" id="email" placeholder="employee@email.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                               th:field="*{email}">
                    </div>


                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">Password</label>
                        <input type="password" id="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                               th:field="*{password}">
                    </div>


                    <div class="flex flex-col pt-4">
                        <label for="confirm-password" class="text-lg">Repeat password</label>
                        <input type="password" id="confirm-password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>


                    <input type="submit" value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                </form>
<!--                <div class="text-center pt-12 pb-12">-->
<!--                    <p>Posiadasz już konto? <a href="login.html" class="underline font-semibold">Zaloguj się.</a></p>-->
<!--                </div>-->
            </div>

        </div>

        <!-- Image Section
        <div class="w-1/3 shadow-2xl">
          <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">>
        </div>
        -->
    </div>
</body>
</html>