<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">

    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <div class="col-sm-3">
            <form class="change_action_form" th:object="${carFilterForm}" th:action="@{submit}" th:method="POST">

                <input type="hidden" name="customer" th:value="${customer}">
                <input type="hidden" name="reservation" th:value="${reservation}">

                <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
                    <button class="btn btn-dark bg-dark bi bi-search"
                            type="submit" onclick="setFormAction('/mg-res/reservation/{reservation}/back', 0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                        </svg>
                        Back
                    </button>
                    <button class="btn btn-dark bg-dark bi bi-search"
                            style="text-align: center"
                            type="submit" onclick="setFormAction('/mg-res/reservation/{reservation}/filter', 0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        Filter
                    </button>
                </div>

                <div><br></div>
                <div class="accordion" id="accordionPanelsStayOpen">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="price-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#priceAcc" aria-expanded="true"
                                    aria-controls="priceAcc">
                                Price per day
                            </button>
                        </h2>
                        <div id="priceAcc" class="collapse"
                             aria-labelledby="price-heading">
                            <div class="accordion-body">
                                <div class="form-group" style="text-align: center">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="priceMin" placeholder="Min">
                                        <input type="text" class="form-control" name="priceMax" placeholder="Max">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="brand-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#brandAcc" aria-expanded="true"
                                    aria-controls="brandAcc">
                                Brand
                            </button>
                        </h2>
                        <div id="brandAcc" class="collapse"
                             aria-labelledby="brand-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="brand : ${brand}">
                                    <input class="form-check-input" type="checkbox" th:value="${brand}" id="checkBrandId" name="brands">
                                    <label class="form-check-label" for="checkBrandId" th:text="${brand}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="type-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#typeAcc" aria-expanded="false"
                                    aria-controls="typeAcc">
                                Car type
                            </button>
                        </h2>
                        <div id="typeAcc" class="accordion-collapse collapse"
                             aria-labelledby="type-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="type : ${type}">
                                    <input class="form-check-input" type="checkbox" th:value="${type}" id="checkTypeId" name="types">
                                    <label class="form-check-label" for="checkTypeId" th:text="${type.getName()}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="seats-heading">
                            <button class="accordion-button collapsed text-light bg-dark" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#seatsAcc" aria-expanded="false"
                                    aria-controls="seatsAcc">
                                Seats
                            </button>
                        </h2>
                        <div id="seatsAcc" class="accordion-collapse collapse"
                             aria-labelledby="seats-heading">
                            <div class="accordion-body">
                                <div class="form-check" th:each="seats : ${seats}">
                                    <input class="form-check-input" type="checkbox" th:value="${seats}" id="checkSeatsId" name="seats">
                                    <label class="form-check-label" for="checkSeatsId" th:text="${seats}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-9">
            <form th:action="@{/mg-res/reservation/{reservation}/select}" th:method="POST">
                <input type="hidden" name="customer" th:value="${customer}">
                <input type="hidden" name="reservation" th:value="${reservation}">

                <div th:each="car : ${cars}" id="car-list">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 th:text="${car.brand}"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="${car.jpgLink}" alt="Picture" width="255" height="150"/>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="'ID: ' + ${car.carId}"></li>
                                <li class="list-group-item" th:text="'Model: ' + ${car.model}"></li>
                                <li class="list-group-item" th:text="'Type: ' + ${car.carType.getName()}"></li>
                                <li class="list-group-item" th:text="'Production date: ' + ${car.year}"></li>
                                <li class="list-group-item" th:text="'Seats: ' + ${car.seats}"></li>
                                <li class="list-group-item" th:text="'Price per day: ' + ${#numbers.formatDecimal((car.price_day), 1, 2, 'POINT')} + ' PLN'"></li>
                            </ul>
                            <br>
                        </div>

                        <div class="col-md-2">
                            <div style="display: grid;grid-template-rows: repeat(2, 1fr);">
                                <div class="border" style="text-align: center; margin-bottom: 10px;"
                                     th:text="${#numbers.formatDecimal((days*car.price_day), 1, 2, 'POINT')} + ' PLN'">
                                </div>
                                <button type="submit" class="btn btn-dark" th:text="Select" name="select"
                                        th:value="${car.getCarId()}"></button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>