<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>

<body>
<div id="container">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <th:block th:if="${customer} != null">
            <div class="col-sm-3">
                <table class="table table-borderless">
                    <thead class="table-dark">
                    <tr class="table-dark">
                        <th scope="row">Customer data:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-dark">
                        <td>Name:</td>
                    </tr>
                    <tr>
                        <td th:text="${customer.getName()} + ' ' + ${customer.getSurname()}"></td>
                    </tr>

                    <tr class="table-dark">
                        <td>Contact:</td>
                    </tr>
                    <tr>
                        <td th:text="'(' + ${customer.getCountry().getContactCode()} + ') ' + ${customer.getContactNumber()}"></td>
                    </tr>

                    <tr class="table-dark">
                        <td>Address:</td>
                    </tr>
                    <tr>
                        <td th:utext="${customer.getCountry().getCountryName()} + ' <br>' + ${customer.getCity()} + ', <br>' + ${customer.getAddress()}"></td>
                    </tr>

                    <tr class="table-dark">
                        <td>Verification:</td>
                    </tr>
                    <tr>
                        <td th:utext="'P-ID: ' + ${verification.getPersonalId()} + '<br>' + 'D-ID: ' + ${verification.getDriverId()}"></td>
                    </tr>
                    <th:block th:if="${!is_verified}">
                        <form th:action="@{/mg-res/verify}" th:method="POST">
                            <input type="hidden" th:name="department" th:value="${department}">
                        <tr>
                            <td style="padding-left:0;">
                                <button class="btn btn-dark bg-dark bi bi-search mt-2"
                                        type="submit" name="customer" th:value="${customer.getId()}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                    </svg>
                                    Verify
                                </button>
                            </td>
                        </tr>
                        </form>
                    </th:block>
                    <th:block th:if="${is_verified}">
                        <form th:action="@{/mg-res/unverify}" th:method="POST">
                            <input type="hidden" th:name="department" th:value="${department}">
                            <tr>
                                <td style="padding-left:0;">
                                    <button class="btn btn-dark bg-dark bi bi-search mt-2"
                                            type="submit" name="customer" th:value="${customer.getId()}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash" viewBox="0 0 16 16">
                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                                        </svg>
                                        Unverify
                                    </button>
                                </td>
                            </tr>
                        </form>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </th:block>

        <th:block th:if="${reservations} != null">
            <div class="col-sm-9">
                <table class="table table-borderless table-hover"
                       style="text-align: center; vertical-align: middle;">
                    <thead class="table-dark">
                    <tr>
                        <th scope="row">From</th>
                        <th scope="row">To</th>
                        <th scope="row">Period</th>
                        <th scope="row">Status</th>
                        <th scope="row"></th>
                    </tr>
                    </thead>
                    <form th:action="@{/mg-res/reservation}" th:method="POST">
                        <input type="hidden" th:if="${customer != null}" th:name="customer"
                               th:value="${customer.getId()}">
                        <tbody>
                        <th:block th:if="${#lists.isEmpty(reservations)}">
                            <td th:text="'—'"></td>
                            <td th:text="'—'"></td>
                            <td th:text="'—'"></td>
                            <td th:text="'—'"></td>
                        </th:block>
                        <tr th:each="reservation: ${reservations}">
                            <td th:utext="${reservation.getDepartmentTake().getCity()} + ', <br>' + ${reservation.getDepartmentTake().getAddress()}"></td>
                            <td th:utext="${reservation.getDepartmentBack().getCity()} + ', <br>' + ${reservation.getDepartmentTake().getAddress()}"></td>
                            <td th:utext="${reservation.getDateFrom()} + '<br> ⟶ ' + ${reservation.getDateTo()}"></td>
                            <td th:utext="${reservation.status.getText()}"></td>
                            <td>
                                <button type="submit" class="btn btn-dark" th:text="Details" th:name="details_button"
                                        th:value="${reservation.reservationId}"></button>
                            </td>
                        </tr>
                        </tbody>
                    </form>
                </table>
            </div>
        </th:block>
        <div th:insert="fragments/bottom::message-handler"></div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>