<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <img src="../images/img1.jpg"/>

        <div id="content">
            <h1>About us</h1>
            <p><br>
                Ut semper nisi turpis, sit amet consectetur turpis consectetur in. In posuere eleifend ante, sed
                dignissim nibh sagittis eget. Quisque sit amet metus accumsan, elementum libero sit amet, scelerisque
                ligula. In sed diam faucibus augue interdum convallis eu sed urna. Etiam sagittis orci facilisis,
                gravida lectus eu, porta lorem. Nullam fringilla ultricies feugiat. Pellentesque turpis nunc, varius non
                maximus quis, iaculis quis risus. Nullam vitae eros tortor. Mauris eget augue condimentum, sodales elit
                sit amet, condimentum odio. Proin nec purus egestas, ornare quam placerat, rhoncus erat. Vestibulum
                rhoncus volutpat massa vitae dapibus. Duis eu vulputate mi. Phasellus vel eros imperdiet, fermentum
                libero non, tempus tortor. Duis facilisis ligula diam, vel sagittis nulla hendrerit quis.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut!</p>
        </div>
        <div th:include="fragments/bottom::bottom-footer"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>