<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <img src="../images/img1.jpg"/>

        <div id="content">
            <h1>Siedziba</h1>

            <div id="contact">
                <div class="col1">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <h1 class="contact">&#9990</h1>
                            </div>
                            <div class="flip-box-back">
                                <h2 class="contact"
                                    th:text="${hq.getCountry().getContactCode() + ' ' + hq.getContact()}"></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="col2">
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                <h1 class="contact">&#64</h1>
                            </div>
                            <div class="flip-box-back">
                                <h2 class="contact" th:text="${hq.getEmail()}"></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flip-box-wider">
                    <div class="flip-box-inner-wider">
                        <div class="flip-box-front-wider">
                            <h2 class="address" th:text="'Adres korespondencyjny'"></h2>
                        </div>
                        <div class="flip-box-back-wider">
                            <h2 class="address" th:text="${hq.getAddress()}"></h2>
                            <h2 class="address" th:text="${hq.getPostcode() + ' ' + hq.getCity()}"></h2>
                        </div>
                    </div>
                </div>
            </div>

            <h1><br>Oddziały</h1>
            <div th:each="dealer: ${dealer}">
                <div class="flip-box-wider">
                    <div class="flip-box-inner-wider">
                        <div class="flip-box-front-wider">
                            <h2 class="address" th:text="${dealer.getCity().toUpperCase()}"></h2>
                            <h2 class="address" th:text="${dealer.getAddress() + ', ' + dealer.getPostcode()}"></h2>
                        </div>
                        <div class="flip-box-back-wider">
                            <h2 class="address"
                                th:text="${dealer.getCountry().getContactCode() + ' ' + dealer.getContact()}"></h2>
                            <h2 class="address" th:text="${dealer.getEmail()}"></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div th:include="fragments/bottom::bottom-footer"></div>
        </div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>