<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <img src="../images/img1.jpg"/>

        <form th:object="${indexForm}" th:action="@{/}" th:method="POST">
            <div id="box_car" class="border border-dark">
                <h4>Check availability</h4>

                <br/>
                <label for="dpt1" class="text-lg">Pickup location</label>
                <select name="lf" id="dpt1" class="form-select text-white bg-dark" th:field="*{departmentIdFrom}"
                        required>
                    <option selected disabled
                            value="">Select...
                    </option>
                    <option th:each="departments: ${department}"
                            th:value="${departments.getDepartmentId()}"
                            th:text="${departments.getCity()+ ', '+ departments.getAddress()}"></option>
                </select><br>

                <div class="form-check form-switch">
                    <input class="form-check-input bg-dark" type="checkbox" role="switch" name="firstBranchChecked"
                           data-bs-toggle="collapse"
                           data-bs-target="#checkReturn"
                           id="checkSwitch"
                           th:checked="*{firstBranchChecked}"
                    />
                    <label for="checkSwitch">Different location return</label><br>
                </div>

                <div class="collapse" id="checkReturn">
                    <div class="card card-body">

                        <label for="dpt2" class="text-lg">Return location</label>
                        <select name="lt" id="dpt2" class="form-select text-white bg-dark" th:field="*{departmentIdTo}">

                            <option selected disabled
                                    value="">Select...
                            </option>
                            <option th:each="departments: ${department}"
                                    th:value="${departments.getDepartmentId()}"
                                    th:text="${departments.getCity()+ ', '+ departments.getAddress()}"></option>
                        </select><br>
                    </div>
                </div>
                <br/>

                <div>
                    <label for="dateFrom">from</label>
                    <input id="dateFrom" class="text-white bg-dark" th:type="date" th:field="*{dateFrom}" required/>
                    <label for="dateTo">to</label>
                    <input id="dateTo" class="text-white bg-dark" th:type="date" th:field="*{dateTo}" required/>
                </div>

                <div class="position-relative">

                    <button class="btn btn-dark text-info bg-dark bi bi-search position-absolute bottom-0 end-0"
                            type="submit">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        Find car
                    </button>
                </div>
            </div>
            <div th:insert="fragments/bottom::form-error-handler"></div>
        </form>

        <div id="content_index">
            <h2>Welcome to our car rental Rent-a-Car</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus dictum justo. Donec ac euismod ipsum.
                Fusce eu neque mi. Etiam a
                venenatis ex, ac viverra est. Maecenas libero arcu, mattis vel augue non, luctus rhoncus nibh. Sed risus
                diam, egestas nec condimentum
                non, ultricies in turpis. Aliquam erat volutpat. Ut vel neque id magna rhoncus porttitor. Duis commodo
                hendrerit maximus. Donec eget
                maximus metus. Integer condimentum lacinia vestibulum. In suscipit pellentesque metus, a tristique
                tellus
                ultricies nec.
            </p>
        </div>
        <div th:include="fragments/bottom::bottom-footer"></div>
        <div th:insert="fragments/bottom::message-handler"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>