<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <img src="../images/img1.jpg"/>

        <div id="content">
            <h1>Regulations</h1>
            <p><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis viverra massa sed ultrices. Vestibulum a lacinia justo, nec ultricies tortor. Donec vestibulum, orci sed semper gravida, ante libero iaculis elit, ac finibus urna sapien nec diam. Suspendisse potenti. Donec sodales elementum ipsum at ullamcorper. Suspendisse eleifend ligula lacus. Duis quam mauris, interdum in arcu et, condimentum dapibus massa. Cras et posuere velit, id scelerisque felis. Aliquam venenatis in nunc vel vehicula. Praesent id consectetur mi, quis malesuada dui.

                Morbi tellus augue, consectetur fermentum mauris tincidunt, consequat cursus leo. Nulla viverra nisl sit amet mi sollicitudin efficitur. Maecenas diam mauris, sagittis ut aliquet porttitor, blandit quis eros. Nullam vestibulum quis turpis eget sodales. Proin pretium eros nec urna auctor fermentum quis ut ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin mattis turpis sed ligula ullamcorper ultricies. Mauris euismod sem nulla, in hendrerit tortor hendrerit quis. Vivamus porttitor augue sollicitudin, placerat orci quis, varius nulla. Phasellus nec risus sollicitudin, tristique urna ut, hendrerit felis. Cras non magna tincidunt, cursus mauris eu, placerat odio. Donec finibus porta dui, quis placerat risus bibendum non. Donec vulputate ante vitae est pretium, a faucibus ex commodo.

                Curabitur est ante, mollis eleifend laoreet et, imperdiet et sem. Nulla eu sem in dui lobortis tempus vel mattis nibh. Pellentesque mollis elit non enim feugiat dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec velit at purus consequat posuere. Ut ut accumsan risus. Praesent nec posuere tellus. Fusce a pharetra dolor. Integer tincidunt leo sed tortor hendrerit, at iaculis mauris finibus. Duis tempor risus eu enim sodales, ac volutpat lorem dictum.

                Maecenas tempus aliquet elit in vulputate. Integer scelerisque posuere odio ac semper. Suspendisse condimentum risus rhoncus lacus finibus interdum. Ut sodales rutrum justo. Nam posuere ut odio congue feugiat. Aenean cursus diam mauris, nec viverra ipsum finibus non. Pellentesque hendrerit euismod neque, quis varius ipsum ultrices a. Vestibulum gravida elit sit amet commodo blandit. Sed pharetra turpis sit amet arcu dictum suscipit eget quis nibh. Maecenas suscipit erat at est molestie egestas. Donec feugiat lectus ut tortor euismod, vitae venenatis dolor accumsan. Duis imperdiet arcu ac ex vehicula convallis. Aenean non placerat nulla. Mauris vel suscipit erat, id dapibus magna. Donec ac diam dapibus, consectetur urna id, tincidunt lorem.


                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ut fringilla ante nec hendrerit pellentesque.
                Nam rhoncus ante nec dolor iaculis viverra.
                Duis malesuada nunc id libero vestibulum, ut lacinia ipsum tempor.
                Donec aliquet tortor sit amet tellus commodo, mattis imperdiet eros pellentesque.
                Nullam a est in nisi condimentum sagittis eu et nisi.
                Donec sed dui semper, porta felis et, porta dui.
                Vestibulum ut mauris mattis, condimentum libero non, eleifend lectus.
                Duis ac nunc ac lorem tempus ultricies ut ac nulla.
                Nullam fringilla magna sit amet neque gravida fringilla.
                Aenean convallis mi sit amet arcu tristique dapibus.
                Morbi tristique nisi vitae dolor rhoncus, vitae mollis neque suscipit.
            </p>
            <div th:include="fragments/bottom::bottom-footer"></div>
        </div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>