<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <form th:method="POST" th:object="${address_form}" th:action="@{/profile/address}">
            <table class="table table-borderless">
                <thead class="table-light">
                <tr>
                    <th scope="row">Change address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <select id="country"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline bg-white"
                                th:type="text" th:field="*{country}"
                                required>
                            <div th:each="country:${countries}">
                                <option th:text="${country.getCountryName()}" th:value="${country}"></option>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="city"
                               class="text-black bg-white" placeholder="City"
                               th:type="text" th:field="*{city}"
                               required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="address"
                               class="text-black bg-white" placeholder="Address"
                               th:type="text" th:field="*{address}"
                               required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-dark" th:text="Change"></button>
                        <a href="/profile" type="button" class="btn btn-dark" th:text="Back"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:insert="fragments/bottom::form-error-handler"></div>
        </form>
        <div th:include="fragments/bottom::bottom-footer"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>