<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <form th:method="POST" th:object="${delete_form}" th:action="@{/profile/delete}">
            <table class="table table-borderless">
                <thead class="table-light">
                <tr>
                    <th scope="row">Kasacja konta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p th:text="'Czy na pewno chcesz skasować konto: ' + ${user} + '?'"></p>
                        <p th:text="'Wszystkie dane zostaną nieodwracalnie skasowane.'"></p>
                        <p th:utext="'Po dodatkowe informacje na temat kasacji zapraszamy do naszego <a href=&quot;/regulations&quot;>regulaminu</a>.'"></p>

                    </td>
                </tr>
                <tr>
                    <td><input id="confirmPassword" class="text-black bg-white" th:placeholder="'Potwierdź wpisując hasło'"
                               th:type="password" th:field="*{currentPassword}"
                               required/></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-dark" th:text="Potwierdź"></button>
                        <a href="/profile" type="button" class="btn btn-dark" th:text="Cofnij"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div th:include="fragments/bottom::bottom-footer"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>