<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Rent-a-Car</title>

    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <table class="table table-borderless">
            <thead class="table-light">
            <tr>
                <th scope="row">Account</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Name</th>
                <td th:text="${user.getName()} + ' ' + ${user.getSurname()}"></td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td th:text="${user.getEmail()}"></td>
            </tr>
            <tr>
                <th scope="row">Account type</th>
                <td th:text="${user.getRole().name().substring(5)}"></td>
            </tr>
            <th:block sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_MANAGER')">
                <tr>
                    <th scope="row">Department</th>
                    <td th:text="${user.getDepartment().getCountry().getCode()} + ' — ' + ${user.getDepartment().getCity()} + ', ' + ${user.getDepartment().getAddress()}"></td>
                </tr>
            </th:block>
            <th:block sec:authorize="!hasAnyRole('ROLE_ADMIN')">
                <tr>
                    <th scope="row">Expiry date</th>
                    <td th:text="${user.getTerminationDate()}"></td>
                </tr>
            </th:block>
            <tr>
                <td>
                    <a href="/profile/password" type="button" class="btn btn-dark" th:text="'Change password'"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:include="fragments/bottom::bottom-footer"></div>
        <div th:insert="fragments/bottom::message-handler" style="width: inherit;"></div>
    </div>
</div>
<div th:include="fragments/bottom::common-scripts"></div>
</body>
</html>