<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="bottom-footer">
    <div id="footer">
        <div class="d-grid gap-3">
            <div class="p-2 bg-light border">
                <p>&copy All rights reserved. <br/> Project: <a
                        href="https://github.com/Lavcrd/Rent-a-Car">Rent-a-Car</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="common-scripts">
    <!-- jQuery (required for Bootstrap JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js (required for Bootstrap JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script th:src="@{/js/bootstrap.js}"></script>
    <!-- Tooltips for title tags -->
    <script th:inline="javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    function setFormAction(action) {
        var form = document.getElementById('change_action_form');
        form.action = action;
    };
    </script>

</div>

<div th:fragment="form-error-handler">
    <div th:if="${#fields.hasErrors()}" class="fixedMessage">
        <div class="alert alert-dark d-flex align-items-center alert-dismissible" role="alert"
             style="&#45;&#45;bs-alert-border-color: #000; justify-content: center;"
             th:each="err: ${#fields.errors('*')}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 style="position: absolute; left: 5%;"
                 class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div th:text="${err}" style="text-align: center;"></div>
        </div>
    </div>
</div>

<div th:fragment="message-handler">
    <div th:if="${message != null}" class="fixedMessage">
        <div class="alert alert-dark alert-dismissible" role="alert" style="--bs-alert-border-color: #000;">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong th:text="${message}" style="text-align: center;"></strong>
        </div>
    </div>
</div>
</body>
</html>