<!DOCTYPE html>
<html>
<body>
<div th:fragment="bottom-footer">
    <div id="footer">
        <div class="d-grid gap-3">
            <div class="p-2 bg-light border">
                <p>&copy Wszelkie prawa zastrzeżone. <br/> Projekt: <a href="https://sdacademy.pl/">SDA ;-)</a></p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="common-scripts">
    <!-- jQuery (required for Bootstrap JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js (required for Bootstrap JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="js/bootstrap.js"></script>
</div>
</body>
</html>