<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="top-menu">
    <div sec:authorize="isAuthenticated()">
        <span>Logged in as: </span> <a sec:authentication="name" href="#"></a>
    </div>
    <div id="header">
        <div id="logo">
            <h1>Wypożyczalnia samochodów</h1>
        </div>
        <div class="position-relative" id="login">
            <div sec:authorize="isAuthenticated()">
                <a href="/logout" class="btn btn-outline-light" role="button">Wyloguj się</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login" class="btn btn-outline-light" role="button">Zaloguj się</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="reg-options">
    <div id="menu">
        <div sec:authorize="hasRole('ROLE_CUSTOMER')">
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="/aboutUs">O nas</a></li>
                <li><a href="/regulations">Regulamin</a></li>
                <li><a href="/contact">Kontakt</a></li>
                <li><a href='/customerZone'>Stefa klienta</a></li>
            </ul>
        </div>
    <div sec:authorize="hasRole('ROLE_EMPLOYEE')" id="menu">
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="/aboutUs">O nas</a></li>
                <li><a href="/regulations">Regulamin</a></li>
                <li><a href="/contact">Kontakt</a></li>
                <li><a href="/employeeZone">Strefa pracownika</a></li>
            </ul>
        </div>
    <div sec:authorize="!hasAnyRole('ROLE_EMPLOYEE', 'ROLE_CUSTOMER')" id="menu">
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/aboutUs">O nas</a></li>
            <li><a href="/regulations">Regulamin</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </div>

</div>
</body>
</html>