<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="top-menu">
    <div sec:authorize="isAuthenticated()">
        <span>Logged in as: </span> <a sec:authentication="name" href="/profile" style="--bs-link-color: black; --bs-link-hover-color: gray;"></a>
    </div>
    <div id="header">
        <div id="logo">
            <h1>Rent-a-Car</h1>
        </div>
        <div class="position-relative" id="login">
            <div sec:authorize="isAuthenticated()">
                <a href="/logout" class="btn btn-outline-light" role="button">Log out</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login" class="btn btn-outline-light" role="button">Log in</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="reg-options">
    <div id="menu">
            <ul>
                <li><a href="/">Main page</a></li>
                <li><a href="/aboutUs">About us</a></li>
                <li><a href="/regulations">Regulations</a></li>
                <li><a href="/contact">Contact</a></li>
                <li sec:authorize="hasRole('ROLE_CUSTOMER')" class="dropdown">
                    <a class="dropdown-toggle" href="#" id="customerZone" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                    <div class="dropdown-menu" aria-labelledby="customerZone">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/reservations">Reservations</a>
                    </div>
                </li>
                <li sec:authorize="hasRole('ROLE_EMPLOYEE') || hasRole('ROLE_MANAGER') || hasRole('ROLE_COORDINATOR') || hasRole('ROLE_ADMIN')" class="dropdown">
                    <a class="dropdown-toggle" href="#" id="employeeZone" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workspace</a>
                    <div class="dropdown-menu" aria-labelledby="employeeZone">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="#">Reservations</a>
                        <a class="dropdown-item" href="#">Rentals</a>

                        <!-- Manager, Coordinator and Admin -->
                        <th:block sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_COORDINATOR', 'ROLE_ADMIN')">
                            <a class="dropdown-item" href="#">Cars management</a>
                            <a class="dropdown-item" href="#">Employee management</a>
                        </th:block>

                        <!-- Coordinator and Admin -->
                        <th:block sec:authorize="hasAnyRole('ROLE_COORDINATOR', 'ROLE_ADMIN')">
                            <a class="dropdown-item" href="#">Departments</a>
                            <a class="dropdown-item" href="#">Statistics</a>
                        </th:block>

                        <!-- Admin -->
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="#">Config</a>
                    </div>
                </li>
            </ul>
    </div>
</div>

<div th:fragment="click-logo">
    <div class="flex justify-center md:justify-start pt-12 md:pl-5 md:-mb-12">
        <div class="bg-black text-white font-bold text-xl p-4" onclick="location.href='/'" style="cursor: pointer">
            Rent-a-Car
        </div>
    </div>
</div>
</body>
</html>