body {
    font-family: Arial;
    font-size: 13px;
    color: #666;
    text-align: center;
    background: #f6f6f6;
}


a {
    color: #6a8db7;
}

/*a:hover {                           zmniejsza butony
/*    text-decoration: none;*/
/*    padding: 0px;*/
/*}*/

p {
    line-height: 25px;
    color: #555;
    text-align: justify;
}

#container {
    width: 942px;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 942px;
    height: 45px;
    margin-top: 40px;
    background: #34393b url('../images/header-left.gif') left no-repeat;

}

#main {
    width: 942px;
    margin: auto;
    float: left;
    margin-top: 20px;
}
#article {
    width: 942px;
    margin: 0 auto;
    float: left;
    margin-top: 20px;
}

.clear {
    height: 30px;
    width: 470px;
}


#logo {
    height: auto;
    width: auto;
    float: left;
    padding-top: 10px;
    padding-left: 30px;
}

#logo p {
    color: #FFFFFF;
    margin: 0px;
    text-transform: uppercase;
    padding-left: 10px;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}

#logo a:hover {
    color: #CCC;
}

#logo h1 {
    color: #fff;
    margin: 0px;
    font-weight: bold;
}

#logo p {
    margin-top: -4px;
    font-style: italic;
    color: #23658f;
}

#logo h1 {
    font-size: 22px;
}

#login {
    padding-top: 4px;
    padding-right: 15px;
    float: right;
    background: #34393b url('../images/header-right.gif') right no-repeat;
}

input {
    border: 1px solid #ccc;
    background: #34393b;
    margin: 5px;
    padding: 5px;
    color: #CCC;
}

#menu {
    width: 942px;
    height: 40px;
    float: left;
    margin-bottom: 15px;
}

#menu ul {
    margin: 0;
    padding: 5px 0px 0px 0px;
    list-style: none;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    display: block;
    float: left;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: normal;
    color: #444;
    font-size: 12px;
}

#menu a:hover {
    color: #111;
    background: #c2cfdf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;


}

.margin_left1 {
    /*margin-left: 16px;*/
}

/*#box_txt {*/
/*				width: 942px;*/
/*				float: left;*/
/*}*/


#box_car {
    /*background:  #FFF url('../images/img02.jpg');*/
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 10px;
    width: 942px;
    height: auto;
    float: inherit;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px;


}

.title_box_car a {
    text-decoration: none;
}

.title_box_car a:hover {
    text-decoration: underline;
}

.title_box_car {
    font-size: 18px;
    color: #6a8db7;
    text-align: left;
    padding-top: 140px;
    padding-left: 10px;

}

/*#div_left {*/
/*				width: 200px;*/
/*				float: left;*/
/*			    border: 1px solid #ccc;*/
/*			    background: #FFF;*/
/*				-moz-border-radius: 5px;*/
/*				-webkit-border-radius: 5px;*/
/*				padding: 10px;*/

/*}*/

#div_right {
    width: 680px;
    float: left;
    margin-left: 15px;
    padding: 10px;

}

h2 {
    font-size: 20px;
    color: #6a8db7;
}

#sell {
    border: 1px solid #ad2948;
    padding: 0px;
    font-weight: bold;
    background: #FFF;
}

#sell p {
    color: #ad2948;
    text-align: center;
}

#footer {
    width: 942px;
    border-top: 1px solid #CCC;
    padding-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #7A7A7A;
    text-align: center;
    float: left;
    font-size: 11px;
}

#colorCircle {
    width: 80px;
    height: 25px;
    /*background-color: #F34A53;*/
    /*border-radius: 100%;*/
    margin: 40px auto 0;
}