<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">
        <img src="../images/img1.jpg"/>

        <div id="content">
            <h1>O nas</h1>
            <p><br>
                Posiadanie to już tylko przeszłość. Jesteśmy firmą, która zapewnia wynajem samochodów na każdą kieszeń. Charakteryzuje Nas uczciwość, jasne warunki oraz wieloletnie doświadczenie
                w różnych krajach Europy. W naszej stajni znajdują się do Państwa użytku głównie europejskie marki, począwszy od Fiata, a skończywszy na Mercedesach.
            </p>
            <p>Czas na wyjazd? Czas na <strong>Carrental</strong>!</p>
        </div>
    </div>
    </div>
</body>
</html>