<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>

<body>
<div id="container">

    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <div class="col-sm-3 border border-dark">

            <div class="bg-light border">Filtruj</div>

            <div class="accordion" id="accordionFilter">
                <div class="accordion-item">
                    <h6 class="accordion-header" id="headingOne">
                        <button class="accordion-button text-light bg-dark" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Marka
                        </button>
                    </h6>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="brand : ${brand}">
                                <input class="form-check-input" type="checkbox" value="" id="checkBrand">
                                <label class="form-check-label" for="checkBrand" th:text="${brand}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed text-light bg-dark" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Model
                        </button>
                    </h6>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="model : ${model}">
                                <input class="form-check-input" type="checkbox" value="" id="checkModel">
                                <label class="form-check-label" for="checkModel" th:text="${model}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed text-light bg-dark" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Rocznik
                        </button>
                    </h6>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="year : ${year}">
                                <input class="form-check-input" type="checkbox" value="" id="checkVehicleYear">
                                <label class="form-check-label" for="checkVehicleYear" th:text="${year}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed text-light bg-dark" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Kolor
                        </button>
                    </h6>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="size : ${size}">
                                <input class="form-check-input" type="checkbox" value="" id="checkColor">
                                <label class="form-check-label" for="checkColor" th:text="${size}"></label>
                                <!--                            <label class="form-check-label" for="checkColor" th:background="${car.color}" ><div id="colorCircle" style="background: #F34A53"></div></label>-->
                                <!--                                <div id="colorCircle"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-9 border border-dark">
            <form th:action="@{/show}" th:object="${createShowForm}" th:method="POST">
                <input type="hidden" th:field="*{indexData.branch_id_from}" th:value="*{indexData.getBranch_id_from()}">
                <input type="hidden" th:field="*{indexData.branch_id_to}" th:value="*{indexData.getBranch_id_to()}">
                <input type="hidden" th:field="*{indexData.firstBranchChecked}" th:value="*{indexData.isFirstBranchChecked()}">
                <input type="hidden" th:field="*{indexData.dateFrom}" th:value="*{indexData.getDateFrom()}">
                <input type="hidden" th:field="*{indexData.dateTo}" th:value="*{indexData.getDateTo()}">
                <input type="hidden" th:field="*{indexData.dateCreated}" th:value="*{indexData.getDateCreated()}">


                <div th:each="car : ${cars}">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 th:text="${car.brand}"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="${car.jpgLink}" alt="Zdjęcie" width="255" height="150"/>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item" th:text="${car.model}">Model</li>
                                <li class="list-group-item" th:text="${car.carType}">Nadwozie</li>
                                <li class="list-group-item" th:text="${car.year}">Rocznik</li>
                                <li class="list-group-item" th:text="${car.color}">cecha</li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <div class="vstack gap-3">
                                <div class="bg-light border"
                                     th:text="${days*car.price_day} + ' ' + PLN + ' (' + ${car.price_day} + ')'">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark" th:text="Wybierz" name="car_button"
                                    th:value="${car.getCar_id()}"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>


<script src="js/bootstrap.js"></script>


</body>

</html>