<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>


    <!--    <style>-->
    <!--        [class*="col"] {-->
    <!--            padding: 1rem;-->
    <!--            background-color: rgb(208, 161, 107);-->
    <!--            border: 2px solid #e11616;-->
    <!--            color: rgb(21, 42, 11);-->
    <!--            text-align: center;-->
    <!--        }-->
    <!--    </style>-->
</head>


<body>
<div id="container">

    <div id="header">
        <div id="logo">
            <h1>Wypożyczalnia samochodów</h1>
        </div>

        <div id="login">
            <a class="btn btn-outline-light" href="/login" role="button">Zaloguj się</a>
        </div>

    </div>


    <div id="menu">
        <ul>
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Cennik</a></li>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>


    <div class="row">
        <div class="col-sm-3 border border-dark">

            <div class="bg-light border">Filtruj</div>

            <div class="bg-light border">
                Marka
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkMark" checked>
                <label class="form-check-label" for="checkMark">
                    Wszystkie
                    <br/>
                </label>
            </div>


            <div class="bg-light border">
                Model
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkModel" checked>
                <label class="form-check-label" for="checkModel">
                    Wszystkie
                </label>
            </div>


            <div class="bg-light border">
                Rocznik
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkVehicleYear" checked>
                <label class="form-check-label" for="checkVehicleYear">
                    Wszystkie
                </label>
            </div>


            <div class="bg-light border">
                Kolor
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkColor" checked>
                <label class="form-check-label" for="checkColor">
                    Wszystkie
                </label>
            </div>


        </div>

        <div class="col-sm-9 border border-dark">
            <div class="row">
                <div class="col-md-12">
                    <h4>Tutaj marka i model znalezionego samochodu</h4>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    Tutaj będzie obrazek
                </div>
                <div class="col-md-6">

                    <ul class="list-group">
                        <li class="list-group-item">zielony</li>
                        <li class="list-group-item">rocznik</li>
                        <li class="list-group-item">cecha</li>
                        <li class="list-group-item">cecha2</li>
                    </ul>

                </div>
                <div class="col-md-2">

                    <div class="vstack gap-3">
                        <div class="bg-light border">300 zł</div>
                        >
                    </div>

                    tutaj będzie cena zamówienia </br>
                    <button type="button" class="btn btn-dark">Wybierz</button>

                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>


<script src="js/bootstrap.js"></script>


</body>

</html>