<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>

<body>
<div id="container">

    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div class="row">
        <div class="col-sm-3">

            <div class="bg-light border">Filtruj</div>

            <div class="accordion" id="accordionFilter">
                <div class="accordion-item">
                    <h6 class="accordion-header" >
                        <button class="accordion-button text-light bg-dark" type="button" id="filterHeadOne"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Marka
                        </button>
                    </h6>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="filterHeadOne"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="brand : ${brand}">
                                <input class="form-check-input" type="checkbox" value="" id="checkBrand">
                                <label class="form-check-label" for="checkBrand" th:text="${brand}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header">
                        <button class="accordion-button collapsed text-light bg-dark" type="button" id="filterHeadTwo"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Typ nadwozia
                        </button>
                    </h6>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="filterHeadTwo"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="type : ${type}">
                                <input class="form-check-input" type="checkbox" value="" id="checkType">
                                <label class="form-check-label" for="checkType" th:text="${type.getName()}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header">
                        <button class="accordion-button collapsed text-light bg-dark" type="button" id="filterHeadThree"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Rocznik
                        </button>
                    </h6>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="filterHeadThree"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="year : ${year}">
                                <input class="form-check-input" type="checkbox" value="" id="checkVehicleYear">
                                <label class="form-check-label" for="checkVehicleYear" th:text="${year}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h6 class="accordion-header">
                        <button class="accordion-button collapsed text-light bg-dark" role="switch" id="filterHeadFour"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" th:text="Miejsca">
                        </button>
                    </h6>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="filterHeadFour"
                         data-bs-parent="#accordionFilter">
                        <div class="accordion-body">
                            <div class="form-check" th:each="seats : ${seats}">
                                <input class="form-check-input" type="checkbox" value="" id="checkSeats">
                                <label class="form-check-label" for="checkSeats" th:text="${seats}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <form th:action="@{/cars}" th:object="${showCarsForm}" th:method="POST">
                <input type="hidden" th:field="*{indexData.branch_id_from}" th:value="*{indexData.getBranch_id_from()}">
                <input type="hidden" th:field="*{indexData.branch_id_to}" th:value="*{indexData.getBranch_id_to()}">
                <input type="hidden" th:field="*{indexData.firstBranchChecked}" th:value="*{indexData.isFirstBranchChecked()}">
                <input type="hidden" th:field="*{indexData.dateFrom}" th:value="*{indexData.getDateFrom()}">
                <input type="hidden" th:field="*{indexData.dateTo}" th:value="*{indexData.getDateTo()}">
                <input type="hidden" th:field="*{indexData.dateCreated}" th:value="*{indexData.getDateCreated()}">


                <div th:each="car : ${cars}">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 th:text="${car.brand}"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="${car.jpgLink}" alt="Zdjęcie" width="255" height="150"/>

                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:text="'Model: ' + ${car.model}">Model</li>
                                <li class="list-group-item" th:text="'Nadwozie: ' + ${car.carType.getName()}">Nadwozie</li>
                                <li class="list-group-item" th:text="'Rocznik: ' + ${car.year}">Rocznik</li>
                                <li class="list-group-item" th:text="'Miejsca: ' + ${car.seats}"></li>
                                <li class="list-group-item" th:text="'Cena za dzień: ' + ${car.price_day} + ' PLN'"></li>
                            </ul>
                            <br>
                        </div>

                        <div class="col-md-2">
                            <div class="vstack gap-3">
                                <div class="bg-light border"
                                     th:text="${days*car.price_day} + ' PLN'">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark" th:text="Wybierz" name="car_button"
                                    th:value="${car.getCar_id()}"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:include="fragments/bottom::bottom-footer"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>


<script src="js/bootstrap.js"></script>


</body>

</html>