<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" )>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html" />

  <meta name="viewport" content="width=device-width, initial-scale=1">



  <title>Wypożyczalnia samochodów</title>

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">



  <style>
    [class*="col"] {
      padding: 1rem;
      background-color: rgb(255, 0, 72);
      border: 2px solid darkblue;
      color: rgb(255, 240, 251);
      text-align: center;
    }
  </style>



</head>


<body>


  <div id="container">
    <h1>Najlepsza wypożyczalnia samochodów</h1>
    <div id="logo">


    </div>

    <div class="container-md">
      <div class="row">
        <div class="col-md-12">
          Tutaj marka i model znalezionego samochodu
        </div>
        <!-- <div class="col-lg-4">
            tutaj pusto?
          </div> -->
      </div>
      <div class="row">
        <div class="col-md-4">
          Tutaj będzie obrazek
        </div>
        <div class="col-md-6">

          <ul class="list-group">
            <li class="list-group-item">zielony</li>
            <li class="list-group-item">rocznik</li>
            <li class="list-group-item">cecha</li>
            <li class="list-group-item">cecha2</li>
          </ul>



        </div>
        <div class="col-md-2">


          <div class="vstack gap-3">
            <div class="bg-light border">300 zł</div>
            >
          </div>


          tutaj będzie cena zamówienia </br>
          <button type="button" class="btn btn-dark">Wybierz</button>

        </div>
      </div>
    </div>

  </div>









  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>


  <script src="js/bootstrap.js"></script>


</body>

</html>