<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Wypożyczalnia samochodów</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>

</head>

<body>
<div id="container" class="container-md">
    <div th:include="fragments/top::top-menu"></div>
    <div th:include="fragments/top::reg-options"></div>

    <div id="main">

        <h3>Podsumowanie</h3>

        <!--        <form th:object="${xxx}" th:action="@{/}" th:method="POST">-->

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    Odbiór pojazdu:
                    </br>
                    Zwrot Pojazdu:
                </div>
                <div class="col-5">
                    <h5> Wybrany pojazd </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Model</li>
                        <li class="list-group-item">Nadwozie</li>
                        <li class="list-group-item">Rocznik</li>
                        <li class="list-group-item">cecha</li>
                    </ul>

                </div>
                <div class="col">
                    Tu zdjęcie
                    <!--                    <img th:src="${car.jpgLink}" alt="Zdjęcie" width="255" height="150"/>-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    W terminie od

                    do

                    Razem: x dni
                </div>
                <div class="col-5">
                    Wartość zamówienia
                </div>
                <div class="col">
                    Rezerwuj
                </div>
            </div>
        </div>


        <button class="btn btn-dark text-info bg-dark bi bi-search position-absolute bottom-0 end-0"
                type="submit">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>

            Rezerwuj
        </button>

        <!--        </form>-->


    </div>
</div>

</div>

<div th:if="${!(message == null)}">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div th:text="${message}"></div>
    </div>
</div>


<div th:include="fragments/bottom::bottom-footer"></div>

</div>
</body>


</html>